#main{
    /* border: 5px dashed red;  */
    position: relative;
}
#site{
    /* border: 10px solid purple;  */
    width: 1px;
    height: 1px;

    position: absolute;
 z-index: 10;
}
#spline{
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* border: 10px solid green;  */
    position: absolute;
    z-index:1;
}